@model Product
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Info</h4>
                <div class="form-group">
                    <label for="exampleInputUsername1">Name</label>
                    <input asp-for="Name" disabled type="text" class="form-control" id="exampleInputUsername1" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Price</label>
                    <input asp-for="Price" disabled type="text" class="form-control" id="exampleInputUsername1" placeholder="Price">
                </div>
                @if (Model.OldPrice != null)
                {
                    <div class="form-group">
                        <label for="exampleInputUsername1">OldPrice</label>
                        <input asp-for="OldPrice" disabled type="text" class="form-control" id="exampleInputUsername1" placeholder="OldPrice">
                    </div>
                }
                <div class="form-group">
                    <label for="exampleInputUsername1">Condition of the products</label>
                    @if (Model.Featured)
                    {
                        <p>Featured</p>
                    }
                    else
                    {
                        <p>Out of order</p>
                    }
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Category</label>
                    <p>@Model.Category.Name</p>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Sizes</label>
                    <p>
                        @foreach (var item in Model.Sizes)
                        {
                            @(@item.Name + ",")
                        }
                    </p>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Colors</label>
                    <p>
                        @foreach (var item in Model.Colors)
                        {
                            @(@item.Name + ",")
                        }
                    </p>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Description</label>
                    <textarea asp-for="Description" disabled class="form-control" style="height:200px;"></textarea>
                </div>
                <div class="form-group">
                    <label>Image</label><br />
                    <img src="~/img/products/@Model.Image" style="height:60px;border-radius:50px;" />
                </div>
                <a class="btn btn-light" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>
</div>